/* styles.css */

#my-extension-div {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1000;
  }

  
  #studai-canvas-button-3 {

    -webkit-text-size-adjust: 100%;
    --ic-brand-primary-darkened-5: #036FAC;
    --ic-brand-primary-darkened-10: #0369A3;
    --ic-brand-primary-darkened-15: #03639A;
    --ic-brand-primary-lightened-5: #0F7AB8;
    --ic-brand-primary-lightened-10: #1C81BC;
    --ic-brand-primary-lightened-15: #2888C0;
    --ic-brand-button--primary-bgd-darkened-5: #036FAC;
    --ic-brand-button--primary-bgd-darkened-15: #03639A;
    --ic-brand-button--secondary-bgd-darkened-5: #2B3942;
    --ic-brand-button--secondary-bgd-darkened-15: #27333B;
    --ic-brand-font-color-dark-lightened-15: #4C5860;
    --ic-brand-font-color-dark-lightened-30: #6C757C;
    --ic-link-color-darkened-10: #0369A3;
    --ic-link-color-lightened-10: #1C81BC;
    --ic-brand-primary: #0374B5;
    --ic-brand-font-color-dark: #2D3B45;
    --ic-link-color: #0374B5;
    --ic-brand-button--primary-bgd: var(--ic-brand-primary);
    --ic-brand-button--primary-text: #ffffff;
    --ic-brand-button--secondary-bgd: #2D3B45;
    --ic-brand-button--secondary-text: #ffffff;
    --ic-brand-global-nav-bgd: #394B58;
    --ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
    --ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
    --ic-brand-global-nav-menu-item__text-color: #ffffff;
    --ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
    --ic-brand-global-nav-avatar-border: #ffffff;
    --ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
    --ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
    --ic-brand-global-nav-menu-item__badge-text: #000000;
    --ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
    --ic-brand-global-nav-logo-bgd: #394B58;
    --ic-brand-header-image: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/canvas_logomark_only@2x-e197434829.png');
    --ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
    --ic-brand-watermark: ;
    --ic-brand-watermark-opacity: 1.0;
    --ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
    --ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
    --ic-brand-msapplication-tile-color: var(--ic-brand-primary);
    --ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
    --ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
    --ic-brand-right-sidebar-logo: ;
    --ic-brand-Login-body-bgd-color: #394B58;
    --ic-brand-Login-body-bgd-image: ;
    --ic-brand-Login-body-bgd-shadow-color: #2D3B45;
    --ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
    --ic-brand-Login-Content-bgd-color: none;
    --ic-brand-Login-Content-border-color: none;
    --ic-brand-Login-Content-inner-bgd: none;
    --ic-brand-Login-Content-inner-border: none;
    --ic-brand-Login-Content-inner-body-bgd: none;
    --ic-brand-Login-Content-inner-body-border: none;
    --ic-brand-Login-Content-label-text-color: #ffffff;
    --ic-brand-Login-Content-password-text-color: #ffffff;
    --ic-brand-Login-footer-link-color: #ffffff;
    --ic-brand-Login-footer-link-color-hover: #ffffff;
    --ic-brand-Login-instructure-logo: #ffffff;
    --impact-messages-zIndex-base: 100001;
    --impact-supportCenterButton-zIndex-base: 9990;
    --impact-expertTools-zIndex-base: 9999;
    -webkit-font-smoothing: antialiased;
    --eesy-tab-custom-primary-color: #ffffff;
    --eesy-tab-custom-background-color: #006699;
    --eesy-tab-custom-position-left: 30px;
    --eesy-tab-custom-position-right: 30px;
    --eesy-tab-custom-position-bottom: 50px;
    --eesy-tab-custom-position-top: 120px;
    --eesy-tab-custom-border-radius: 0px 0px 0px 0px;
    --eesy-tab-custom-scale: 0.65;
    margin-right: .25rem;
    -webkit-appearance: button;
    font-weight: normal;
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    display: inline-block;
}

#studai-canvas-button-2 {

    -webkit-text-size-adjust: 100%;
    --ic-brand-primary-darkened-5: #036FAC;
    --ic-brand-primary-darkened-10: #0369A3;
    --ic-brand-primary-darkened-15: #03639A;
    --ic-brand-primary-lightened-5: #0F7AB8;
    --ic-brand-primary-lightened-10: #1C81BC;
    --ic-brand-primary-lightened-15: #2888C0;
    --ic-brand-button--primary-bgd-darkened-5: #036FAC;
    --ic-brand-button--primary-bgd-darkened-15: #03639A;
    --ic-brand-button--secondary-bgd-darkened-5: #2B3942;
    --ic-brand-button--secondary-bgd-darkened-15: #27333B;
    --ic-brand-font-color-dark-lightened-15: #4C5860;
    --ic-brand-font-color-dark-lightened-30: #6C757C;
    --ic-link-color-darkened-10: #0369A3;
    --ic-link-color-lightened-10: #1C81BC;
    --ic-brand-primary: #0374B5;
    --ic-brand-font-color-dark: #2D3B45;
    --ic-link-color: #0374B5;
    --ic-brand-button--primary-bgd: var(--ic-brand-primary);
    --ic-brand-button--primary-text: #ffffff;
    --ic-brand-button--secondary-bgd: #2D3B45;
    --ic-brand-button--secondary-text: #ffffff;
    --ic-brand-global-nav-bgd: #394B58;
    --ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
    --ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
    --ic-brand-global-nav-menu-item__text-color: #ffffff;
    --ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
    --ic-brand-global-nav-avatar-border: #ffffff;
    --ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
    --ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
    --ic-brand-global-nav-menu-item__badge-text: #000000;
    --ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
    --ic-brand-global-nav-logo-bgd: #394B58;
    --ic-brand-header-image: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/canvas_logomark_only@2x-e197434829.png');
    --ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
    --ic-brand-watermark: ;
    --ic-brand-watermark-opacity: 1.0;
    --ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
    --ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
    --ic-brand-msapplication-tile-color: var(--ic-brand-primary);
    --ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
    --ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
    --ic-brand-right-sidebar-logo: ;
    --ic-brand-Login-body-bgd-color: #394B58;
    --ic-brand-Login-body-bgd-image: ;
    --ic-brand-Login-body-bgd-shadow-color: #2D3B45;
    --ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
    --ic-brand-Login-Content-bgd-color: none;
    --ic-brand-Login-Content-border-color: none;
    --ic-brand-Login-Content-inner-bgd: none;
    --ic-brand-Login-Content-inner-border: none;
    --ic-brand-Login-Content-inner-body-bgd: none;
    --ic-brand-Login-Content-inner-body-border: none;
    --ic-brand-Login-Content-label-text-color: #ffffff;
    --ic-brand-Login-Content-password-text-color: #ffffff;
    --ic-brand-Login-footer-link-color: #ffffff;
    --ic-brand-Login-footer-link-color-hover: #ffffff;
    --ic-brand-Login-instructure-logo: #ffffff;
    --impact-messages-zIndex-base: 100001;
    --impact-supportCenterButton-zIndex-base: 9990;
    --impact-expertTools-zIndex-base: 9999;
    -webkit-font-smoothing: antialiased;
    --eesy-tab-custom-primary-color: #ffffff;
    --eesy-tab-custom-background-color: #006699;
    --eesy-tab-custom-position-left: 30px;
    --eesy-tab-custom-position-right: 30px;
    --eesy-tab-custom-position-bottom: 50px;
    --eesy-tab-custom-position-top: 120px;
    --eesy-tab-custom-border-radius: 0px 0px 0px 0px;
    --eesy-tab-custom-scale: 0.65;
    margin-left: .125rem;
    -webkit-appearance: button;
    font-weight: normal;
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    display: inline-block;
}

#studai-canvas-button {
    -webkit-text-size-adjust: 100%;
    --ic-brand-primary-darkened-5: #036FAC;
    --ic-brand-primary-darkened-10: #0369A3;
    --ic-brand-primary-darkened-15: #03639A;
    --ic-brand-primary-lightened-5: #0F7AB8;
    --ic-brand-primary-lightened-10: #1C81BC;
    --ic-brand-primary-lightened-15: #2888C0;
    --ic-brand-button--primary-bgd-darkened-5: #036FAC;
    --ic-brand-button--primary-bgd-darkened-15: #03639A;
    --ic-brand-button--secondary-bgd-darkened-5: #2B3942;
    --ic-brand-button--secondary-bgd-darkened-15: #27333B;
    --ic-brand-font-color-dark-lightened-15: #4C5860;
    --ic-brand-font-color-dark-lightened-30: #6C757C;
    --ic-link-color-darkened-10: #0369A3;
    --ic-link-color-lightened-10: #1C81BC;
    --ic-brand-primary: #0374B5;
    --ic-brand-font-color-dark: #2D3B45;
    --ic-link-color: #0374B5;
    --ic-brand-button--primary-bgd: var(--ic-brand-primary);
    --ic-brand-button--primary-text: #ffffff;
    --ic-brand-button--secondary-bgd: #2D3B45;
    --ic-brand-button--secondary-text: #ffffff;
    --ic-brand-global-nav-bgd: #394B58;
    --ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
    --ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
    --ic-brand-global-nav-menu-item__text-color: #ffffff;
    --ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
    --ic-brand-global-nav-avatar-border: #ffffff;
    --ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
    --ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
    --ic-brand-global-nav-menu-item__badge-text: #000000;
    --ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
    --ic-brand-global-nav-logo-bgd: #394B58;
    --ic-brand-header-image: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/canvas_logomark_only@2x-e197434829.png');
    --ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
    --ic-brand-watermark: ;
    --ic-brand-watermark-opacity: 1.0;
    --ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
    --ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
    --ic-brand-msapplication-tile-color: var(--ic-brand-primary);
    --ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
    --ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
    --ic-brand-right-sidebar-logo: ;
    --ic-brand-Login-body-bgd-color: #394B58;
    --ic-brand-Login-body-bgd-image: ;
    --ic-brand-Login-body-bgd-shadow-color: #2D3B45;
    --ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
    --ic-brand-Login-Content-bgd-color: none;
    --ic-brand-Login-Content-border-color: none;
    --ic-brand-Login-Content-inner-bgd: none;
    --ic-brand-Login-Content-inner-border: none;
    --ic-brand-Login-Content-inner-body-bgd: none;
    --ic-brand-Login-Content-inner-body-border: none;
    --ic-brand-Login-Content-label-text-color: #ffffff;
    --ic-brand-Login-Content-password-text-color: #ffffff;
    --ic-brand-Login-footer-link-color: #ffffff;
    --ic-brand-Login-footer-link-color-hover: #ffffff;
    --ic-brand-Login-instructure-logo: #ffffff;
    --impact-messages-zIndex-base: 100001;
    --impact-supportCenterButton-zIndex-base: 9990;
    --impact-expertTools-zIndex-base: 9999;
    -webkit-font-smoothing: antialiased;
    --eesy-tab-custom-primary-color: #ffffff;
    --eesy-tab-custom-background-color: #006699;
    --eesy-tab-custom-position-left: 30px;
    --eesy-tab-custom-position-right: 30px;
    --eesy-tab-custom-position-bottom: 50px;
    --eesy-tab-custom-position-top: 120px;
    --eesy-tab-custom-border-radius: 0px 0px 0px 0px;
    --eesy-tab-custom-scale: 0.65;
    -webkit-appearance: button;
    font-weight: normal;
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    user-select: none;
    margin: .125rem;

}